.pagination {
    display: flex;
    gap: 10px;
    align-items: center;
}

.filter-button-container{
    position: relative;
    display: inline-block;
}

.clear-filter-button {
    position: absolute;
    top: -5;
    right: 0;
    border-radius: 50%;
    width: 6px;
    height: 6px;
}

.filter-button {
   
}